extends layout

block content
  .container
    .row-fluid
      .span12
        h1= title
        h4 Order number: #{orderNumber}
        table.table.table-hover
          thead
            tr
              th
              each val,key in coffees
                th.cotitle #{val}
              th Total Cost
          tbody
            tr.info 
              td Totals
                each val in totals
                  td #{val}
              td #{totalCost}

            each val,key in usersummary
              tr 
                td #{key}
                  each v in val
                    td #{v}
