extends layout

block content

  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        a(href='#').brand #{title}
        ul.nav.pull-right
          li Current order:
          li.bigtotalnumber
          li.bigtotal

  .container
    .row-fluid
      .span12
        p Hi 
          span#username #{username}
          span , come get your #{title}
        .span10.offset1.alert.alert-info.statsflier
          a(href="stats") How do YOU stack up? (Click Here)
        table.table.table-hover
          thead
            th
            th
            th Intensity
            th
            th Price
            th Quantity
            th Total
          tbody
            each val, key in displayOrder
              tr.vcenter(data-name=key)
                td.names.vcenter(data-name=key) #{val.name}
                td.vcenter
                  a(href=val.url,data-title="Aromatic Profile:"+val.aromaticprofile,data-content=val.longdescription,data-html=1).pops
                    img(src=val.img).capsuleImage
                td.vcenter #{val.intensity}
                td.vcenter #{val.types}
                td.vcenter.pricebox &pound; #{val.price}
                td.vcenter
                  input(type="text",value=val.count,pattern='[0-9]*0').incenter.span9.quantitybox
                td.vcenter.totalbox
            tr.vcenter
              td
              td
              td
              td
              td.vcenter
                h4 Total:
              td.bigtotalnumber.vcenter
              td.bigtotal.vcenter

    .row-fluid
      .span10
        #infoAlert.alert
          button(type="button",class="close")
            | &times;
          span#messageText Sending to the server. If you reload, your order should still be here.
      .span2
        p
          button(type=button,href='/currentorder')#orderButton.btn.btn-large.btn-primary Place Order

block jscripts
    script(src='/javascripts/main.js')
